body{
    padding: 0px;
    margin: 0px;
}
.b { 

    background-image:url("5.webp");
    background-size:cover ;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffc9;
    font-size: 100px;
    margin: 0px;
    height: 666px;
}



.n{
    text-align: center;
} 
.n:hover{
    color: red;
}
img {
    vertical-align: middle;
    background-position: center center;
   
}
.y{
    background-color:#E8E8E8 ;
    text-align: left;
    border: 1px ;
    margin:8% 8% 8% 8%;

}
.f{
    background-color: gray;
    width: 200px;
    height: 30px;
    border-radius: 50px;
}
h1{
    text-align: center;
}
.g{
    text-align: left;
    padding: 20px;
}
p{
    padding: 20px;
}
.z{
    text-align: center;
    justify-content: center;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    
  }